{% extends 'drone_app/base_generic.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }
    .mb-4 {
        margin-top: 20px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-md-3 {
        flex: 0 0 24%;
        margin-bottom: 20px;
        background: #f8f9fa;
        padding: 30px;
        margin-top: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        background-color: #8d8ff0ab;
    }
    .col-md-3:hover {
        transform: translateY(-8px);
        background-color: #7678dc;
    }
    .text-center, h2, p {
        text-align: center;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
    video, img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }
    .link-hover {
        color: #3d3fd7;
        text-decoration: none;
    }
    .link-hover:hover {
        color: #2a2bc8;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="font-size:40px; font-family: 'Courier New', monospace;">Detected Problems</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2><a class="link-hover" href="{% url 'video_feed' %}">Detection Live Stream</a></h2>
            <div id="video-stream-container">
                <video id="detection-live-stream" controls autoplay hidden></video>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Problem Details</h2>
            <ul>
                {% for detail in problem_details %}
                    <li>{{ detail|linebreaksbr }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h2><a class="link-hover" href="{% url 'img_view' %}">Visual Evidence</a></h2>
            <ul>
                {% for image in images %}
                    <li><img src="{% static 'img/'|add:image %}" alt="Visual evidence" class="img-fluid"></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Actions Taken</h2>
            <ul>
                {% for action in actions_needed %}
                <li>Action: {{ action }}</li>
                {% endfor %}
        </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
